Libreria

In [1]:
import pandas as pd

Instanciamos los datasets de cada plataforma en un dataframe para cada uno.

In [2]:
amazon_df = pd.read_csv('Datasets/amazon_prime_titles.csv')
disney_df = pd.read_csv('Datasets/disney_plus_titles.csv')
hulu_df = pd.read_csv('Datasets/hulu_titles.csv')
netflix_df = pd.read_csv('Datasets/netflix_titles.csv')

Visualizamos sus estructuras y dimensiones

In [3]:
amazon_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [4]:
amazon_df.shape

(9668, 12)

In [5]:
disney_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [6]:
disney_df.shape

(1450, 12)

In [7]:
hulu_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [8]:
hulu_df.shape

(3073, 12)

In [9]:
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [10]:
netflix_df.shape

(8807, 12)

Transformación 1: Generación del campo id

In [11]:
#id = 'a' (Amazon) + show_id
amazon_df.insert(0, 'id', 'a' + amazon_df.show_id, True)
#id = 'd' (Disney) + show_id
disney_df.insert(0, 'id', 'd' + disney_df.show_id, True)
#id = 'h' (Hulu) + show_id
hulu_df.insert(0, 'id', 'h' + hulu_df.show_id, True)
#id = 'n' (Netflix) + show_id
netflix_df.insert(0, 'id', 'n' + netflix_df.show_id, True)

In [12]:
#Al contar con este id, ya podemos unir los dataframes en uno solo.
df = pd.concat([amazon_df,disney_df, hulu_df, netflix_df], axis=0)

#Reiniciamos el index que genera pandas por default
df.reset_index(drop=True, inplace=True)

In [13]:
df.shape

(22998, 13)

Transformación 2: Se reemplazan los campos nulos de la columna 'rating' por 'G' (general for all audiences)

In [14]:
df.rating.fillna(value='G', inplace=True)

Transformación 3: Cambio al formato AAAA-mm-dd

In [15]:
df.date_added= pd.to_datetime(df.date_added)

Transformación 4: Se tranforman los campos de texto a minúsculas

In [16]:
df.type = df.type.str.lower()
df.title = df.title.str.lower()
df.director = df.director.str.lower()
df.cast = df.cast.str.lower()
df.country = df.country.str.lower()
df.rating = df.rating.str.lower()
df.country = df.country.str.lower()
df.duration = df.duration.str.lower()
df.listed_in = df.listed_in.str.lower()
df.description = df.description.str.lower()

Transformación 5: El campo 'duration' se convierte en dos campos: duration_int y duration_type

In [17]:
df[['duration_int', 'duration_type']] = df.duration.str.extract('(\d+)\s*(\w+)')
#\d, \D: ANY ONE digit/non-digit character. Digits are [0-9]
#\w, \W: ANY ONE word/non-word character. For ASCII, word characters are [a-zA-Z0-9_]
#\s, \S: ANY ONE space/non-space character. For ASCII, whitespace characters are [ \n\r\t\f]

#se normaliza el campo duration_type
df.duration_type = df.duration_type.str.replace("seasons", "season")

#se elimina la columna duration
df.drop(['duration'], axis=1, inplace=True)

In [18]:
df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

Instanciamos los datasets de Score en un dataframe para cada uno.

In [19]:
s1df = pd.read_csv('Datasets/Scores/1.csv')
s2df = pd.read_csv('Datasets/Scores/2.csv')
s3df = pd.read_csv('Datasets/Scores/3.csv')
s4df = pd.read_csv('Datasets/Scores/4.csv')
s5df = pd.read_csv('Datasets/Scores/5.csv')
s6df = pd.read_csv('Datasets/Scores/6.csv')
s7df = pd.read_csv('Datasets/Scores/7.csv')
s8df = pd.read_csv('Datasets/Scores/8.csv')

Revision de datasets de Score y ajustes necesarios antes del join con dataframe anterior

In [20]:
scoredf = pd.concat([s1df,s2df,s3df,s4df,s5df,s6df,s7df,s8df], ignore_index=True, axis=0)

In [21]:
scoredf.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

In [22]:
#cambiamos de formato timestamp considerando unicamente los datos de la fecha
scoredf.timestamp= pd.to_datetime(scoredf.timestamp, unit="s").dt.date

#Renombramos la columna rating por score, timestamp y movieIdG
scoredf.rename(columns={'rating':'score', 'timestamp':'scoreDate','movieId':'id'}, inplace=True)

In [23]:
scoredf.head()

   userId  score   scoreDate      id
0       1    1.0  2015-03-09   as680
1       1    4.5  2015-03-09  ns2186
2       1    5.0  2015-03-09  hs2381
3       1    5.0  2015-03-09  ns3663
4       1    5.0  2015-03-09  as9500

In [24]:
#Creamos una columna extra con el promedio que poseé cada pelicula
scoredf['scoreMean'] = scoredf.groupby('id')['score'].transform('mean').round(1)

Verificamos su dimesiones previo a realizar la unión

In [25]:
scoredf.shape

(11024289, 5)

In [26]:
df.shape

(22998, 14)

In [27]:
#Realizamos la unión por medio de la columna id de ambos datasets
dffinal = pd.merge(scoredf, df, how="left", on=['id'])

In [28]:
dffinal.head()

,userId,score,scoreDate,id,scoreMean,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,1,1.0,2015-03-09,as680,3.5,s680,tv show,the english civil war,NaN,robert whelan,NaN,NaT,2019,13+,"documentary, special interest",a nation divided. it was a time of great bitte...,1,season
1,1,4.5,2015-03-09,ns2186,3.6,s2186,movie,latte and the magic waterstone,"regina welker, nina wels","ashley bornancin, carter hastings",germany,2020-07-31,2020,tv-y,"children & family movies, comedies",when a greedy bear steals a magic stone to kee...,83,min
2,1,5.0,2015-03-09,hs2381,3.6,s2381,tv show,la diosa coronada,NaN,NaN,colombia,2018-10-05,2010,tv-14,"crime, drama, latino",la diosa coronada es una historia donde los su...,1,season
3,1,5.0,2015-03-09,ns3663,3.5,s3663,movie,"frankenstein’s monster’s monster, frankenstein",daniel gray longino,"david harbour, alex ozerov, kate berlant, mary...",united states,2019-07-16,2019,tv-14,comedies,when actor david harbour finds lost footage of...,32,min
4,1,5.0,2015-03-09,as9500,3.5,s9500,movie,kept woman,michel poulette,"courtney ford, shaun benson, andrew w. walker,...",NaN,NaT,2015,pg-13,"drama, suspense",jessica and her fiancé finally move out of the...,90,min

Creamos un dataset especifico para las consultas:
- Únicamente columnas necesarias: <br> 
'id','scoreMean', 'show_id','title','cast','release_year','duration_int','duration_type'
- Quitamos los 'id' duplicados.

In [29]:
#Columnas necesarias
df_consultas = dffinal.loc[:, ['id','scoreMean', 'show_id','title','cast','release_year','duration_int','duration_type']]

In [30]:
#Quitamos los duplicados
df_consultas = df_consultas.drop_duplicates()

In [31]:
#Verificamos queden los 22998 'id'
df_consultas.shape

(22998, 8)

In [17]:
#Exportacion del csv
df_consultas.to_csv('df_consultas.csv', index=False)

Exportamos el dataset en formato parquet para hacer el ML

In [26]:
dffinal.shape

(11024289, 17)

In [2]:
import pyarrow as pa
import pyarrow.parquet as pq

In [ ]:
dffinal.to_parquet('data.parquet')